{
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "trailingComma": "none",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2
}